
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
main{
    width:90%;
    margin: 0 auto;
}
.section-title{
    margin: 2rem;
    margin-left: 0px;
}
.top-player,.blogs{
    display: grid;
    grid-gap:30px;
    margin-top:20px;
    background-color:aliceblue;
    padding: 2rem;
    border-radius: 8px;
}
.top-player{
    grid-template-columns:repeat(3,1fr);

}
.blogs{
    grid-template-columns:repeat(2,1fr);

}
.player>img{
    width: 50px;
    margin-right: 20px;
    margin-left: 20px;
}
.player,.blog,.course-info{
    display: flex;
    align-items:center;
}
.thumbline img{
    width: 250px;
    margin-right: 2rem;
}
.filled{
    color: gold;
    font-size: 0.7em;
}
.unfilled{
    color: lightgray;
    font-size: 0.8em;
}
.rating-point{
    background-color: rgb(236, 129, 129);
}
/* mediaQuary ...................... */
@media(max-width:992px){
    .top-player{
        grid-template-columns:repeat(2,1fr);
     
    }
    .blogs{
        grid-template-columns:repeat(1,1fr);
    }
  .thumbline{
      margin: 1rem;
  }
}
@media(max-width:668px){
    .top-player{
        grid-template-columns:repeat(1,1fr);
    }
    .blogs{
        grid-template-columns:repeat(1,1fr);
    }
    .blog{
        display: block;
        margin: 0.5rem;
    }
    .thumbline{
        margin: 1rem;
    }
}
